XAVG_BLACKLIST_URL=https://bixio.xyz/api/public/blacklist.json

MT_HOST=192.168.88.1:22
MT_USER=xavg-client
MT_PASS=CHANGE_THIS_PASSWORD

MT_BLACKLIST_LIST=blacklist
MT_BLACKLIST_COMMENT=xavg-public-blacklist
